@page
<div class="container">
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/signalr/signalr.js"></script>    
<script src="~/js/pubsub.js"></script>
@*<script src="~/js/es5-chat.js"></script>*@